<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/donde-estamos.css">
    <link rel="shortcut icon" href="/img/NachoLimpieza_Logo.png">
</head>

<body>
    <%- include ('partials/header.html')%>  
    <div class="box-principal">
    <%- include ('partials/navigation.html')%> 
    <main>
        <div class="box-title2">
            <h1 class="title-1">TE INVITAMOS A QUE TE ACERQUES</h1>
        </div>
        <div>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.8804454113056!2d-59.13803088495686!3d-37.297967212476756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959120397f3cda37%3A0x79dbb16e35232994!2sUrquiza%201217%2C%20Tandil%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1589982649205!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    
        </div>
        <div class="data_contacto">
    	   <span style="font-size: 20px; text-decoration: underline;">Nacho Limpieza</span><br>
    		    J.J.Urquiza 1217<br>
    		    (7000) Tandil - Buenos Aires<br><br>
    		    Tel.: (0249) 15-4684628<br><br>
    			nachoperalta2806@gmail.com.ar
       			www.NachoLimpieza.com.ar
        </div>
        <div class="data_logo">
            <img class="img_logo" src="/img/NachoLimpieza_Logo.png" alt="NachoLimpieza_Logo">
        </div>
        </div>
    </main>
    </div>
</body>
</html>


   
