<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/nosotros.css">
    <link rel="shortcut icon" href="/img/NachoLimpieza_Logo.png">
</head>
<body>
    <%- include ('partials/header.html')%>   
    <div class="box-principal">
    <%- include ('partials/navigation.html')%> 
    <main class="main">
            <article>
                <h2>
                  <code>Nuestro Objetivo</code>
                </h2>
                <p>Nacho Limpieza es un emprendimiento familiar de ventas de productos de limpieza, que tiene 
                como objetivo brindar el mejor servicio al mejor precio.
                </p>
            </article>
            <article>
                <h2>
                  <code>Nuestro Compromiso</code>
                </h2>
                <p>Nos comprometemos con cada cliente, a que el producto que está obteniendo es de muy buena 
                calidad y prueba de ello son los innumerables clientes conformes con la atención recibida y con 
                la calidad de la mercadería. 
                </p>
            </article>
            <article>
                <h2>
                  <code>Nuestros Productos</code>
                </h2>
                <p>Contamos en nuestro negocio con una gran variedad de productos. Acercáte o hacé tu pedido y
                Encontrá los mejores combos y productos al mejor precio. 
                </p>
            </article>      
    </main>       
</body>
</html>